<h1>Zendesk Ticket Viewer</h1>

<% if @tickets.empty? %>
  There is no tickets.
<% else %>
  <% @tickets.each do |ticket| %>
    <table>
    <tr>
      <td witdh="100px">
        <%= ticket.status.capitalize %>
      </td>
      <td width="500px">
        <%= link_to ticket.subject, ticket_path(ticket.id) %> 
      </td>
      <td width="200px">
        <%= ticket.created_at.in_time_zone("Melbourne").strftime('%d %b %Y, %I:%M %p') %>
      </td>
    </tr>
    </table>
  <% end %>
  <% (1..@page_count).each do |page| %>
    <%= link_to page, tickets_path(page: page) %>
  <% end %>
<% end %>
