Requester: <%= @requester.user.name %>
<h2> <%= @ticket.subject %> </h2>
<div style="white-space: pre-line">
  <%= @ticket.description %>
</div>
<br><br>
<%= link_to 'Back to All Tickets', root_path %>