<h3> Authentication Error</h3>

<span style="white-space: pre-line;">
Your username and password for the Zendesk API are not valid.

Please check the username and password for the API is correct, 
and restart the application, then Try again.

</span>