/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.list-table {
  width: 700px;
  margin: auto;
  font-family: 'Arial';
}

.status {
  float: left;
  width: 100px;
  margin-top: 7px;
  margin-bottom: 5px;
  padding-left: 7px;
  padding-top: 5px;
  font-size: 1em;
}

.subject {
  float: left;
  width: 400px;
  margin-top: 7px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-size: 1em;
}

.requested {
  float: left;
  width: 200px;
  padding-top: 5px;
  margin-top: 7px;
  margin-bottom: 5px;
  font-size: 1em;
}

.status.header{
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.subject.header{
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.requested.header{
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.row {
  display: flex;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #A9A9A9;
}

.column {
  flex: 50%;
}

.pages {
  font-size: 1.1em;
  text-align:center;
  margin-top: 10px;
}

.current-page {
  float: left;
  margin-right: 10px;
}

#ticket-stats {
  text-align: right;
  border-style: none;
  font-family: 'Arial';
  margin-bottom: 5px;
}

#header {
  background: #d9d9d9;
}